<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pam_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wally"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wally_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FTUActivity" />
        <activity android:name=".activity.BucketActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wally" android:host="bucket" android:pathPrefix="/detail" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddBucketEntryActivity"/>
        <activity android:name=".activity.AddBucketActivity"/>
        <activity android:name=".activity.BucketListActivity"/>
    </application>

</manifest>
